<div class="ui fluid vertical menu">
  <a class="item" href="/">
    Home
  </a>
  <a class="item" href="/users">
    Users
  </a>
  <a class="item" href="/polls">
    Polls
  </a>
  <a class="item" href="/chat">
    Chat
  </a>
  <div class="item">
    <div class="ui transparent icon input">
      <input type="text" placeholder="Search ...">
      <i class="search icon"></i>
    </div>
  </div>
</div>