<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome - Snowdrop</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>
  <br>
  <div class="ui container">
    <h1 class="ui header">Snowdrop</h1>
    <div class="ui stackable grid">
      
      <div class="three wide column">
        <!-- Sidebar -->
        <% include ../../common/views/partials/sidebar-menu.ejs %>
      </div>

      <div class="thirteen wide column">
        <!-- Main content -->
        <div class="ui two stackable cards">

          <% pollsList.forEach(function(poll){ %>
          <div class="ui card">
            <div class="image">
              <img src="<%= poll.coverImage %>">
            </div>
            <div class="content">
              <a class="header"><%= poll.title %></a>
              <div class="meta">
                <span class="date"><%= poll.description %></span>
              </div>
            </div>
            
            <% poll.feedbacks.forEach((feedback) => { %>
            <div class="extra content">
              <div class="center aligned author">
               <%= feedback.title %>
              </div>
            </div>
            <% }) %>

          </div>
          <% }) %>

        </div>
      </div>

    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>
</html>